div {
	background-color: grey;
	border: 1px solid black;
}
div:not(.contenedor) {
	width: 100px;
	height: 100px;
	margin: 10px;
}
.cajaInterior {
	display: inline-block;
}
.contenedor {
	width: 374px;
}
.caja1 {
	display: block;
}
.cajaPar {
	display: inline-block;
}